/.DS_Store
/Transactional Email.html
/factor.jpeg
/factor1.jpeg
/fb.png
/ig.png
/pintrest.png
/portfolio-img.png
/portfolio.css
/portfolio.html
/promotional-email.css
/transactional-email.html
/twiter.png
/wapp.png